.authPage{
    &-signIn{
        width: 80%;
        margin: 5rem auto;
        text-align: center;
        font-family: luxia-semi-bold;
        color : $primaryColor;
        box-shadow: 5px 4px 50px $boxShadow; 
        border-radius: 20px;
        padding: 5rem 2rem;
        text-transform: uppercase;
        & h1{
            margin: 4rem 0rem;
        }
        &-form{
            margin-bottom: 5rem;
            &>*{
                display: block;
                width: 50%;
                margin: 1rem auto;
            }
            &>input{
                height: 4rem;   
                font-size: 2rem;
                border:1px solid $primaryColor;
                color : $primaryColor;
                padding: 0.5rem;

                &::placeholder{
                    color: $adminDashBackend;
                }
            }

            &-btn{
                background-color: $primaryColor;
                color:#fff !important;  
                transition: all 0.3s;
                &:hover{
                    background-color: #fff;
                    color: $primaryColor  !important;   
                }
            }
        }

        &-links{
            margin-bottom: 5rem;
           &>a{
            color:$primaryColor;
            text-decoration: none;
           &:last-child{
            margin-left: 7rem;
           }
           }
        }
    }
}     