.articleBig {
    border: 1px solid $primaryColor;
    margin: 2rem auto;
    width: 150rem;
    padding: 0.5rem 0;

    &-left {
        float: left;

        & img {
            width: 85rem;
            max-height: 45rem;
            transform: translateX(-4.5rem);
            object-fit: cover;
            object-position: 100% 0;
        }

        &-invert{
            color: $textColor;
            text-align: left;
            width: 45rem;
            padding: 2rem 0;
            padding-left: 10rem;
        }
    }

    &-right {
        color: $textColor;
        float: right;
        text-align: left;
        width: 45rem;
        margin: 3rem 7rem;

        &-invert {
            width: auto;
            margin: 0;

            &-img {
                width: 85rem;
                max-height: 45rem;
                transform: translateX(4.5rem);
                object-fit: cover;
                object-position: 100% 0;
            }

            &-btn{
                float : left;
            }
        }



        &-title {
            font-size: 3rem;
            font-family: luxia-semi-bold;
            font-weight: bold;
            text-transform: uppercase;
        }

        &-desc {
            font-size: 2rem;
            margin-top: 4rem;
            font-family: lato;
        }


        &-btn{
            float : right;
        }
    }

    &::after {
        clear: both;
        display: table;
        content: "";
    }

}

@media only screen and (max-width: 970px) {
    .articleBig{
        width: 90%;
        margin-bottom: 5rem;
        &-left{
            float: none;
            width: 90%;
            margin: 0 auto;
            & img{
                width: 100%;
                transform: translate(0rem,-2rem);
            }
            
            &-invert{
                float: none;
            margin: 1rem auto;
            text-align: center;
                padding : 0;
            }
        }
        &-right{
            float: none;
            margin: 1rem auto;
            text-align: center;

            &-btn{
                float: none;
                & button{
                    font-size: 1.5rem;
                }
            }

            &-invert{
                float: none;
                width: 90%;
                margin: 0 auto;
                & img{
                    width: 100%;
                    transform: translate(0rem,-2rem);
                } 

                
            &-btn{
                float: none;
                & button{
                    font-size: 1.5rem;
                }
            }
            }
        }
    }
}