.viewArticle {
  &-img {
    &-wrapper {
      border: 1px solid;
      margin: 3rem auto;
      width: 167rem;
      height: 67rem;
      color: $primaryColor;

      & img {
        width: 120rem;
        height: 67rem;
        object-fit: cover;
        object-position: 100% 0;
        position: relative;
        left: 22rem;
        top: 2rem;
      }
    }
  }

  &-socialLinks {
    width: 100rem;
    margin: 3rem auto;
    text-align: center;
    color: $primaryColor;
    font-size: 2rem;
    & i {
      margin-left: 2rem;
      cursor: pointer;
    }
  }

  &-title {
    font-family: luxia-semi-bold;
    text-transform: uppercase;
    width: 134rem;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
  }

  &-desc {
    font-family: lato-regular;
    font-size: 2rem;
    margin: 5rem auto;
  }

  &-content {
    &-wrapper {
      margin: 5rem auto;
      width: 155rem;
      font-size: 2rem;
      &:after {
        clear: both;
        content: "";
        display: table;
      }
    }
    &-img {
      width: 49rem;
      height: 63rem;
      float: left;
      object-fit: cover;
      object-position: 50% 50%;


      &-invert {
        float: right;
        width: 49rem;
        height: 63rem;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    &-body {
      width: 80rem;
      margin-left: 5rem;
      float: right;

      &-invert {
        float: left;
        width: 80rem;
        margin-left: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  .viewArticle {
    &-img {
      &-wrapper {
        width: 95%;

        & img {
          width: 100%;
          left: 0;
          top: 1rem;
          object-position: 50% 50%;

        }
      }
    }

    &-socialLinks {
        width: 100%;
      }

      &-title{
          width: 95%;
      }
  }
}
