.product{
    &-hero{
        &-wrapper{
           // border: 1px solid;
            width: 88%;
            margin: 0 auto;
            margin-top: 2vh;
            height: 87vh;
        }
       &-img{
            &-main{
                & img{
                  width: 57.76rem;
                  height: 72.06rem;  
                  transform: translateY(5%);
                  box-shadow: 0px 3px 60px $boxShadow;
                }
            }

            &-others{
                transform: translate(-20%,1%);
                &>div{
                    border: 2px solid $primary-color-light;
                  
                    width: 13rem;
                        height: 17.65rem;
                        margin-top: 1.5rem;
                    & img{
                        transform: translate(3%,-4%);
                        width: 13rem;
                        height: 17.65rem;
                        
                    }
                }
            }
       }

       &-desc{
           &-title{
            font-size: 2.7rem;
            font-family: lato-bold;
            text-decoration: underline;
           }
           &-label{
            font-size: 1.9rem;
            font-family: roboto-regular;
            text-decoration: underline;

        }

        &-price{
            font-size: 2.7rem;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        &-desc , &-modelSize{
            font-family: lato-regular;
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }

        &-size{
            font-family: luxia-semi-bold;
            color: $primaryColor;
            border: 1px solid;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &-addbag ,&-wishlist{
            font-family: luxia-semi-bold;
            font-size: 2rem;
            display: inline-block;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            margin-right: 1rem;
            margin-bottom: 3rem;
        }

        &-addbag{
            background-color: $primaryColor;
            color: #fff;         
            box-shadow: 10px 9px 60px $boxShadow;
        }

        &-wishlist{
            color: $primaryColor;
            border: 1px solid;
        }

        &-prodDetails{
            & h3{
                font-family: luxia-semi-bold;
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            & ul{
                list-style: none;
                font-size: 1.5rem;
                font-family: lato-regular;
                margin-left: 2rem;
            }
            margin-bottom: 3rem;
        }

        &-curator{
            &::after{
                content: "";
                clear: both;
                display: table;
            }
            &-img{
                float: left;
                width: 8rem;
                height: 14rem;
                border: 4px solid $primaryColor;

                & img{
                    width: 9rem;
                    height: 13rem;
                    transform: translateX(-20%);
                }
            }

            &-right{
                float: right;
                transform: translate(-130%,12%); 
            }

            &-name ,&-2 {
                margin-bottom: 2rem;
                font-size: 1.2rem;
                font-family: lato-regular;
                & span{
                    font-family: lato-bold;
                }
            }

            &-descp{
                font-size: 1.2rem;
                font-family: lato-regular;
            }
            margin-bottom: 2rem;
        }
       }
    }

    &-content{
        &-wrapper{
            margin-top: 6%;
            margin-left: 20%;
        }

        &-infoBar{
            width: 104rem;
            height: 7rem;
            background-color: $primaryColor;
            color: #fff;
            margin-bottom: 5%;
            font-size: 3.5rem;
            font-family: luxia-semi-bold;
            text-align: center;
            border-radius: 50px;
            z-index: -1;
            box-shadow: 10px 9px 6px $boxShadow;

            &::after{
                content: "";
                width: 104rem;
                height: 3rem;
                background-color:$primaryColor;
                display: block;
                transform: translateY(-40%);
                position: relative;
                z-index: 1;
                
            }

            &-text{
                position: relative;
                z-index: 100;
                display: block;
                transform: translateY(20%);
            }
        }
    }

    &-cards{
        margin-top: -15%;
        margin-left: 7%;
     
        &-card{
            width: 55rem;
            height: 30rem;
            box-shadow: 0px 3px 80px $boxShadow;
            margin: 5rem;
            text-align: center;
            padding: 3rem;
            &-title{
                font-size: 3.5rem;
                font-family: lato-bold;
            
            }

            &-desc , &-link{
                font-size: 1.8rem;
                font-family: lato-regular;
                margin-top: 2.2rem;

                color: $box;
            }    

            &-link{
                text-decoration: underline;
                position: relative;
                top: 3rem;
            }


        }
    }

    &-footer{
        margin-top: -20%;
    }

    &-zoom{
        z-index: 1000000;
        background-color: rgba(0, 0, 0, 0.397);
        width: 100%;
        height: 100vh;     
        position: fixed;
        top: 0%;

        & i{
            color: #000;
            font-size: 5rem;
            margin-left: 0.5rem;
            cursor: pointer;

            &:active{
                color: rgba(17, 1, 1, 0.637);
            }
        }
        &-content{
            position: relative;
            top: 3%;
            width: 90%;    
            height: 85vh;    
            margin: 0 auto;
            background-color: #fff;

            &-wrapper{
                width: 80%;
                margin: 0 auto;
            }

            &-left{
                float: left;
            }

            &-right{
                float: right;   
                height: 100%;
                width: 50%;
                & img{
                    width: 91%;         
                }
            }
        }
    }
}    


@media only screen and (max-width: 1135px) {

    .product{

        &-desktop{
            display: none;
        }
        &-hero{
            &-img{
                &-main{
                    margin: 0 auto;
                }
                &-others{
                    display: none;
                }
            }
            &-wrapper{
                height: auto;
            }

            &-desc{
                max-width: 100%;
                text-align: center;
                margin-top: 10%;
                flex: initial;

                &-curator{
                    width: 90%;
                    margin: 0 auto;
                    &-right{
                        transform: translate(0rem ,3rem);
                    }

                    &-img{

                    }
                }
            }
        }

        &-cards{
            margin: 0 auto;
            &-card{
                margin: 5rem auto;
            }
        }
    }

    .mobile{
        &-product{
           //margin-top: 70rem;
        }
    }
}

@media only screen and (min-width: 1136px) {

    .mobile{
        &-product{
            display:none;
        }
    }
}

@media only screen and(max-width : 745rem){
    .mobile{
        &-product{
         //   margin-top: 50%;
        }
    }
}    