.writerDash{

    &-head{
        font-size: 3rem;
        text-align: center;
        background-color: $adminDashBackend;
        color: $curatorPrimary;
    }

    &-addBlogs{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.411);
        z-index: 1000;

        &-content{
           
        }

        &-form{
            position: fixed;
            width: 90%;
            height: 78rem;
            margin: 0 auto;
            top: 5rem;
            left: 9rem;
            background-color: #fff;
            z-index: 9999;
            overflow: scroll;

            &-body{
                width: 90%;
            }
            &::-webkit-scrollbar {
                width: 0 !important;
              }
        }

        &-coverImg{
            width: 40rem;
            height: 20rem;
            border: 1px solid $curatorPrimary;
            cursor: pointer;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
}