.adminAuth{
    color : $curatorPrimary;

    & form{
        &>*{
            border-color:$curatorPrimary;
            color :$curatorPrimary;
            &::placeholder{
                color : $curatorPrimary;
            }

           
        }
    }

    &-btn{
        background-color: $curatorPrimary;

        &:hover{
            color : $curatorPrimary !important;
            background-color: #fff;
        }
    }
}

