.adminDash {
  &-leftPanel {
    float: left;
    background-color: $adminDashBackend;
    width: 16%;
    position: fixed;
    top: 0;
    height: 100vh;
    font-size: 2rem;
    text-align: center;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0 !important;
    }

    &-profile {
      height: 30rem;
      &-avatar {
        width: 10rem;
        height: 10rem;
        margin: 3rem auto;

        & img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }

      &-name {
        text-transform: uppercase;
        font-family: luxia-semi-bold;
      }
    }

    &-links {
      & ul {
        & > li {
          margin: 1rem 0rem;
          text-decoration: none;
          list-style: none;
          background-color: $curatorPrimary;
          color: #fff;
          text-transform: uppercase;
          font-size: 3rem;
          padding: 2rem 0;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: $curatorPrimary;
            background-color: #fff;
          }
        }
      }
    }

    &-activeLink {
      color: $curatorPrimary !important;
      background-color: #fff !important;
    }
  }

  &-right {
    float: right;
    width: 84%;
    margin-top: 5rem;
  }

    & h3 {
      text-align: center;
      text-transform: uppercase;
      font-family: luxia-semi-bold;
      font-size: 3rem;
    }
  

    &-addProfile{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.432);
      z-index: 1000;

      &-container{
        background-color: #fff;
        box-shadow: 10px 9px 6px $boxShadow;
        border-radius: 2rem;
        position: relative;
        top: 10rem;
    padding: 6rem 0;
      }

      &-close{
        font-size: 4rem;
        transform: translateX(50rem)
      }
    }
}

.profile-card {
  display: inline;
  margin: 2rem;
  &-body {
    overflow: hidden;

    width: 50rem;
    height: 30rem;
    border-radius: 3rem;
    box-shadow: 10px 9px 6px $boxShadow;
    z-index: 1;
    &-left {
      width: 30%;
      background-color: $curatorPrimary;
      height: 100%;
      border-radius: 3rem 0 0 3rem;
      transition: all 0.7s;

      float: left;

      &-content {
       display: none;
        float: right;
        overflow: hidden;
        width: 70%;
        height: 100%;
        transition: all 0.7s;
      }

      &-avatar {
        float: left;
        width: 100%;
        height: 100%;
        border-radius: 3rem 0 0 3rem;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 0.7s;
      }

      &-name {
        font-size: 2rem;
        margin: 1rem;
        font-family: luxia-semi-bold;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(255, 255, 255, 0.082);
        color: #fff;
        text-align: center;
      }

      &-details{
        & ul{
          width: 24rem;
          margin: 7rem auto;

          &>li{
            width: 5rem;
            height: 5rem;
            display: inline-block;
            list-style: none;
            margin-left: 3rem;
          
            &>i{
              color: #fff;
              font-size: 5rem;
              text-align: center;
              transform: translateX(-1.5rem);
              &>div{
                font-size: 2rem;
                text-align: center;
                margin: 1rem;
                &>span{
                  font-size: 1.5rem;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        &-btn{ 
         & span{
          font-size: 2rem;
         }
         float: right;
         margin-right: 5rem;
         transform: translateY(-3rem);
        }
      }
    }

    &-right {
      width: 70%;
      //  width: 5%;
      float: right;
      transition: all 0.7s;
      border-radius: 0 3rem 3rem 0;
      overflow: hidden;
      height: 100%;
      text-align: center;
      position: relative;
      padding: 3rem;
      background-color: rgba(250, 235, 215, 0.308);
      &-name {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: luxia-semi-bold;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.082);
      }

      &-description {
        font-size: 1.5rem;
        font-family: roboto;
      }
    }

    &:hover &-left {
      width: 95%;

      &-content {
        display: block;
        width: 70%;
        height: 100%;
      }

      &-avatar {
        width: 10rem;
        height: 10rem;
        float: left;
        border-radius: 50%;
        margin-top: 20%;
        transition: all 0.7s;
        margin-left: 1rem;
      }
    }

    &:hover &-right {
      width: 5%;
      padding: 0;
      & > * {
        display: none;
      }
    }
  }
}


.profile{

  &-head{
    width: 100%;
    height: 8rem;
    border-radius: 1rem;
    background-color: $adminDashBackend;
    text-align: center;
    font-family: luxia-semi-bold;
    text-transform: capitalize;
    font-size: 3rem;
    color: $curatorPrimary;
    padding: 1.5rem;
  }

  &-card{
&-row{
  margin-top: 5rem;
}
    &-small{
      width: 50rem;
      height: 50rem;
      border-radius: 1.5rem;
      box-shadow: 10px 9px 6px $boxShadow;
      background-color: $adminDashBackend;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0 !important;
      }

      &-head{
        width: 100%;
        height: 5rem;
        background-color: $curatorPrimary;
        border-radius: 1.5rem 1.5rem 0 0 ;
        text-align: center;
        color: #fff;
        font-size: 2.7rem;
        text-transform: uppercase;
      }

      &-list{
        width: 100%;
        padding: 0 2rem;
        list-style: none;
        & li{
          height: 5rem;
          margin-top: 2rem;
          background-color: #fff;
        }

        &-li{
          &-container{
            background-color: #95a5a6;
            height: 100%;

            &-name{
              font-size: 3rem;
              float: left;
              color: #fff;
              text-align: center;
              width: 80%;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              overflow: hidden;
              transition: all 0.5s;
              max-height: 100%;
              &>*{
                transition: all 0.5s;

              }
            }

            &-Details{
              float: right;      
              height: 100%;
              width: 20%;
              float: right;
              -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
              clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
              transition: all 0.5s;
              background-color: $curatorPrimary;
              

              &>button{
                float: right;
                display: none;
                transition: all 0.7s;
                height: 100%;
                font-family: 'Times New Roman', Times, serif;
                font-size: 2rem;
                border:none;
              }
           }

           &:hover &-name{
             width:0%;

             &>*{
               display: none;     
               
             }
           }

           &:hover &-Details{
            -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 10% 100%);
             width: 90%;

             &>button{
               display:block;
             }
           }
          }
        }
      }
    }


    &-add{
      width: 80%;
      height: 5rem;
      margin: 5rem 0;

      &-btn{
        width: 5rem;
        height: 5rem;
        border-radius: 4rem;
        background-color: $curatorPrimary;
        color:#fff;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.8s;
        & i{
          margin: 1.1rem;
          -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
        }

   
        &:hover{
          border-radius: 0;
        }
        &:hover i{
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }

    

       
      }
    }
  }

  &-moreInfo{
    margin: 3rem 0;

    & ul{
      list-style: none;
      text-align: center;
      & li{
        display: inline-block;
        margin: 3rem;


       
      }
    }

    &-head{
      color: #fff;
      background-color: $curatorPrimary;
      border-radius: 5rem 0 0 5rem;
    }

    &-body{
      color:$curatorPrimary;
      background-color: $adminDashBackend;
      border-radius: 0 5rem 5rem 0;
    }

    &-head,&-body{
      padding: 2rem;
      margin: -0.4rem;
    }
  }
}


.tl-addBtn{

  position: fixed;
    bottom: 0;
    right: 2rem;
  
    &>div{
      float:right;
    }
}

