.curator {
    margin-top: 5.5rem;
    padding-left: 5%;
    margin-bottom: -24rem;

    &-bimg {
        width: 80;
        height: 80rem;
        border: 1px solid #fff;
        transform: translate(8%, 2%);
        z-index: 100;
        position: absolute;

        &-shadow {
            width: 85rem;
            height: 80rem;
            border: 3px solid #00003231;
            transform: translate(1%, 0%);
            border-radius: 4px;

        }

        &-img {
            width: 56rem;
            height: 68rem;
            transform: translate(9%, 8%);

            & img {
                position: relative;
                z-index: -100;
                width: 100%;
                height: 100%;
            }
        }

        &-textBox {
            transform: translate(80%, -97%);

            &-ul {
                border-left: 1px solid $box;
                transform: translateX(-2%);

                & li {

                    font-size: 1.8rem;
                    line-height: 7rem;
                }
            }

            &-txt {
                font-size: 2.3rem;
                font-family: luxia-semi-bold;
                transform: translate(-42%, -150%);
                text-align: center;

            }
        }
    }

    &-profile {
        transform: translateY(2%);
        width: 68.1rem;
        height: 80rem;
        //  border: 1px dotted;
        margin-left: 5%;


        &-txt {
            text-align: center;
            transform: translateY(-2.5%);

            &-name {
                font-size: 3rem;
                text-transform: uppercase;
                font-family: luxia-semi-bold;

            }

            &-det {
                font-size: 1.5rem;
                font-family: lato-regular;

            }
        }

        &-pics {
            // border: 1px solid;
            margin-top: 2rem;

            & img {
                width: 28rem;
                height: 28rem;

            }


        }

        &-btn {
            background-color: #F89135;
            width: 32rem;
            height: 6rem;
            font-size: 3.3rem;
            border-radius: 21px;
            transform: translateY(20%);
            padding-top: 0.5rem;
            margin: 0 auto;
            cursor: pointer;
            text-transform: uppercase;
            & a {
                color: #fff;
                font-family: luxia-semi-bold;
                text-decoration: none;
            }
        }
    }
}

.l {
    transform: translateX(6.5%);
    margin-right: 5rem;
    margin-left: 4rem;

}

.r {
    transform: translateX(-6.5%);
}

.curator-second {
    transform: translateY(-23%);

    &-bimg {
        transform: translateX(-15%);



        &-img {
            transform: translate(35%, 5%);
        }

        &-textBox {
            transform: translate(-70%, -95%);

            & ul {

                transform: scaleX(-1);

            }

            &-txt {
                transform: translate(30%, -155%);
            }
        }
    }


}

.curator-third {
    margin-top: -47%;
    transform: translateY(47%);

    &-col {
        transform: translateX(70%);
    }
}

@media only screen and (max-width: 1135px) {
    .desktop {
        display: none;
    }

    .mobile {
        &-curator {
            &-wrapper {
                width: 90%;
                margin: 0 auto;
                margin-top: 3rem;

                &::after {
                    display: table;
                    content: "";
                    clear: both;
                }
            }

            &-left {
                width: 55%;
                float: left;

                & img {
                    width: 100%;
                }
            }

            &-right {
                width: 40%;
                float: right;
                margin-top: 24%;

                &-txt {
                    font-size: 2.3rem;
                    font-family: luxia-semi-bold;
                    text-align: center;
                }
            }

            &-bottom {
                width: 90%;
                margin: 3rem auto;

                &-txt {
                    text-align: center;
                    margin-bottom: 2rem;
                }

                &-imgGrid {
                    &-col {
                        width: 47%;
                        display: inline-block;
                        margin-right: 2%;

                        & img {
                            width: 100%;
                            height: 100%
                        }
                    }

                    &-row {
                        margin-bottom: 2rem;
                    }
                }

                &-btn {
                    background-color: $primaryColor;
                    font-family: luxia-semi-bold;
                    font-size: 3rem;
                    border-radius: 20px;
                    padding: 1rem 2rem;
                    margin: 0 auto;
                    text-align: center;
                    color: #fff;
                }
            }

        }
    }



}

//1135  600




@media only screen and (min-width: 1136px) {

    .mobile {
        display: none;
    }
}