@media only screen and (max-width: 1903px) {
    html{
        font-size: 62%;   
    } 
  }
  
  @media only screen and (max-width: 1852px) {
    html{
        font-size: 61%;   
    } 
  }
  
  @media only screen and (max-width: 1818px) {
    html{
        font-size: 60%;   
    } 
  }
  
  @media only screen and (max-width: 1790px) {
    html{
        font-size: 59%;   
    } 
  }
  
  @media only screen and (max-width: 1759px) {
    html{
        font-size: 58%;   
    } 
  }
  
  @media only screen and (max-width: 1728px) {
    html{
        font-size: 57%;   
    } 
  }
  
  @media only screen and (max-width: 1700px) {
    html{
        font-size: 56%;   
    } 
  }
  
  @media only screen and (max-width: 1670px) {
    html{
        font-size: 55%;   
    } 
  }
  
  @media only screen and (max-width: 1640px) {
    html{
        font-size: 54%;   
    } 
  }
  
  @media only screen and (max-width: 1610px) {
    html{
        font-size: 53%;   
    } 
  }
  
  @media only screen and (max-width: 1584px) {
    html{
        font-size: 52%;   
    } 
  }
  
  @media only screen and (max-width: 1553px) {
    html{
        font-size: 51%;   
    } 
  }
  
  @media only screen and (max-width: 1520px) {
    html{
        font-size: 50%;   
    } 
  }
  @media only screen and (max-width: 1495px) {
    html{
        font-size: 49%;   
    } 
  }
  
  @media only screen and (max-width: 1463px) {
    html{
        font-size: 48%;   
    } 
  }
  
  @media only screen and (max-width: 1432px) {
    html{
        font-size: 47%;   
    } 
  }
  @media only screen and (max-width: 1400px) {
    html{
        font-size: 46%;   
    } 
  }
  @media only screen and (max-width: 1370px) {
    html{
        font-size: 45%;   
    } 
  }
  
  @media only screen and (max-width: 1345px) {
    html{
        font-size: 44%;   
    } 
  }
  @media only screen and (max-width: 1313px) {
    html{
        font-size: 43%;   
    } 
  }
  @media only screen and (max-width: 1281px) {
    html{
        font-size: 42%;   
    } 
  }
  
  @media only screen and (max-width: 1252px) {
    html{
        font-size: 41%;   
    } 
  }
  @media only screen and (max-width: 1230px) {
    html{
        font-size: 40%;   
    } 
  }
  @media only screen and (max-width: 1194px) {
    html{
        font-size: 39%;   
    } 
  }
  @media only screen and (max-width: 1162px) {
    html{
        font-size: 38%;   
    } 
  }
  @media only screen and (max-width: 1120px) {
    html{
        font-size: 37%;   
    } 
  }
  