.loginBlock{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: -16rem;
    z-index: 10000  ;
    background-color: rgba(0, 0, 0, 0.384);

    &-content{
        width: 70%;
        height: 70vh;
        background-color: #fff;
        margin: 20rem auto;
        text-align: center;
        &-link{
            margin-top: 30rem;
        }
    }
}

.share{

    &-fb{
        color: #4267b2;
    }

    &-tweet{
        color: #169fee;
    }

    &-insta{
        color :#e4405f;
    }

    &-gp{
        color:#dd4b39;
    }
}

.loading{
    position: relative;
    left: 63rem;
    margin-top: 12rem;

}


.hidden{
    display: none;
}

.align{

    &-right{
        text-align: center;
    }
}

.addBtn{
    width: 8rem;
    height: 8rem;
    background-color: $curatorPrimary;
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    padding-top: 1rem;
    cursor: pointer;
}

.bigger{
    font-Size: 2rem;
}

.loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 10000;  
    top:-12rem;
    background-color: #fff;
&>img{
    left: 66rem;
    position: relative;
}
    &>*{
        width: 30%;
        margin: 0 auto;
        text-align: center;
    }
}