@font-face {
    font-family: brighton;
    src: url('/fonts/BrightonBoldRegular.ttf') format(ttf);
}

@font-face {
        font-family: luxia-semi-bold;
    src: url('/fonts/Luxia-Semi-BoldDisplay.otf') format(otf);
}

@font-face {
    font-family: lato-bold;
    src: url('/fonts/Lato-Bold.ttf') format(ttf);
}

@font-face {
    font-family: lato-regular;
    src: url('/fonts/Lato-Regular.ttf') format(ttf);
}

@font-face {
    font-family: lato-black;
    src: url('/fonts/Lato-Black.ttf') format(ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url('/fonts/Roboto-Regular.ttf') format(ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
