$primaryColor : #F89135;
$textColor : #000032;
$boxShadow : rgba(0, 0, 0, 0.116);
$primary-color-light:rgba(251, 192, 140, 0.568);
$tags-bg: rgba(251, 192, 140, 0.377);
$style-border : #F89135;
$box : #000032; 
$light-border-shadow:#0000323a;
$light-border:#000032;
$addres-back: #FFF6ED;

$curatorPrimary : #68203E;

$curator-color : #68203E;
$curator-bg:#F4F0ED;

$boxHover :rgba(0, 0, 0, 0.397) ;

$adminDashBackend : rgba(114, 52, 78, 0.192);